{% extends 'base.html.twig' %}

{% block title %}Hello CreateMovieController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-2 mb-5">
                    <div class="card-header text-center">ADD NEW MOVIE</div>
                    <div class="card-body text-center text-muted">
{#                        <div class="alert alert-success" role="alert">#}
{#                        </div>#}

                        Hey, in here, you can add a new movie! cool righ?!!
                    </div>
                </div>


                <div class="alert alert-success" role="alert">
                </div>


                <div class="card-body">
                    <form method="" action="#">

                        <div class="form-group row mb-3">
                            <label for="title" class="col-md-4 col-form-label text-md-right">Movie Title</label>
                            <div class="col-md-6">
                                <input id="title" type="text" class="form-control" name="title" required>
                                <input id="" type="hidden" class="form-control" name="" value="">
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Movie Description</label>
                            <div class="col-md-6">
                                <textarea id="description" class="form-control" name="description" rows="3" required></textarea>
                                <span class="invalid-feedback" role="alert">
                                    <strong>message</strong>
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    add movie
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
